DATABRICKS_USER=your.email@example.com
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/xxxxxxxxxxxx
DATABRICKS_HOST=https://YOUR-WORKSPACE.cloud.databricks.com
DATABRICKS_TOKEN=YOUR-TOKEN
ALERT_EMAIL=your.email.for.alerts@example.com
INSEE_API_KEY=YOUR_INSEE_API_KEY